<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../vendor/bootstrap3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../style/core.css"/>
    <title>Gear Life — 固齿不回链，生活不回头</title>
</head>
<body ng-app="index">
<!--头部-->
<div class="header container-fluid" >
    <span class="ico glyphicon glyphicon-triangle-right"></span>
    <span class="ico glyphicon glyphicon-menu-right"></span>
    <span class="logo">Fixed Gear</span>
    <span class="quote">- just keep on</span>
    <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;登录
    </button>
</div>
<!--广告栏-->
<div class="banner container-fluid" ng-controller="bannerController">
    <ul  class="" ng-init="extend=1">
        <li class="sub  " ng-class="{true:'col-md-10',false:'col-md-1'}[extend===1]">
            <img src="../images/index/banner1.jpg" alt="banner1"/>
            <a class="intro" ng-click="getExtend($event)">
                <span class="author">Author</span>
                <span class="date">Aug 2th 2016</span>
                <span class="name">Luxury Ring</span>
            </a>
        </li>
        <li class="sub " ng-class="{true:'col-md-10',false:'col-md-1'}[extend===2]">
            <img src="../images/index/banner2.png" alt="banner2"/>
            <a class="intro" ng-click="getExtend($event)">
                <span class="author">Author</span>
                <span class="date">Aug 2th 2016</span>
                <span class="name">Luxury Ring</span>
            </a>
        </li>
        <li class="sub  " ng-class="{true:'col-md-10',false:'col-md-1'}[extend===3]">
            <img src="../images/index/banner3.jpg" alt="banner3"/>
            <a class="intro" ng-click="getExtend($event)">
                <span class="author">Author</span>
                <span class="date">Aug 2th 2016</span>
                <span class="name">Luxury Ring</span>
            </a>
        </li>
    </ul>
    <ul class="">
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!--推广信息-->
<div id="spread"></div>
<!--推荐图集-->
<div id="picture"></div>
<!--推荐帖子-->
<div id="recommend"></div>
<!--底部-->
<div id="footer"></div>
<script src="../vendor/jquery/jquery-1.11.3.min.js"></script>
<script src="../vendor/angular/angularjs.js"></script>
<script src="../js/index.js"></script>
</body>
</html>